  .body-div{ 
    max-width: 1440px;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #FAFAFA;
    box-sizing: border-box;
    position: relative;
}
.header-div{ 
    display: flex;
    flex-direction: row;
    height: 100px;
    max-width: 1440px;
    color:#686868;

}
.header{
    margin-left:30px;
}

  .main{  
    position: absolute;
    max-width:1440px ;
    height: 600px;
    display: flex;
    flex: 2;
}
.main-div-image{
    position: absolute;
    margin-left: 890px;
    margin-top: 80px;
    

}
.main-image{
    height: 530px;
    width: 390px;
}
.text{
    width: 470px;
    display: flex ;
    flex-direction: column;
    position: absolute;
    margin-left: 200px;
    margin-top: 140px;
    justify-content: center;
    align-items:flex-start; 

}
.title{
    font-size: 78px;
    
}
.span-text{
    color: #686868;
    width: 370px;
    font-size: 17px;
    margin-top: 30px;
}
.button{
    margin-top: 30px;
    border-radius: 12px;
    background-color: #151515;
    color: #fafafa;
    padding: 10px 20px;
}
.button:hover{
    cursor: pointer;
    background-color: #FAFAFA;
    color: #151515;
    border: 1px solid #151515;
}
.footer{
    width: 400px;
    position: absolute;
    margin-left: 200px;
    margin-top: 600px;
    display: flex;
    word-spacing: 15px;
}
.footer-image{
   width: 85px;
   
}
@media screen and ( max-width: 400px)
    
 {
    
       .main-div-image{
        margin-left:40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
    .text{
        margin-top: 690px;
        margin-left:30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        margin-top: 1150px;
        margin-left:25px;
    }
    .span-text{
        margin-right:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .title{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction:row ;
        font-size: 70px;
    }
    .header{
        margin-left:40px;
    }
    .btn{
        margin-left: -7px;
        margin-top: 10px;
        }
    .d-flex{
        margin-left: 130px;
        color: #686868;
        
    }
   
  
    
}
   
   


